.about-company-section {
  background-color: white;
}

.about-company-section .section-content p {
  line-height: 1.8;
  margin-bottom: 20px;
}

.about-company-section .section-content b {
  font-weight: 600;
  color: #333;
}